
.general-top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 51px;
    background-color: #1E3A8A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.general-top-bar-info-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.general-top-bar-logo-box {
    margin-left: 25px;
}

    .general-top-bar-logo-box img {
        width: 35px;
    }

.general-top-bar-username-box {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 46px;
    border: 1px solid white;
    border-radius: 30px;
    padding: 7px;
}

    .general-top-bar-username-box div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .general-top-bar-username-box div:first-child img {
            width: 25px;
        }

    .general-top-bar-username-box div:nth-child(2) {
        margin-left: 7px;
    }

        .general-top-bar-username-box div:nth-child(2) p {
            color: white;
        }

.general-top-bar-logout-box {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #fff;
    padding: 7px;
    margin-right: 25px;
    cursor: pointer;
}

    .general-top-bar-logout-box:hover {
        border: 1px solid white;
        color: #1E3A8A;
        font-weight: 600;
    }

    .general-top-bar-logout-box div:first-child {
        margin-right: 7px;
    }

    .general-top-bar-logout-box div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
    }

.general-bread-and-btn-bar {
    margin: auto;
    margin-top: 50px;
    padding-top: 42px;
    width: 86%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Need to be checked */
.breadcrumbs-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

    .breadcrumbs-box p {
        margin: 0;
        color: #1E3A8A;
        font-weight: bold;
    }

.btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manage-user-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E3A8A;
    border-radius: 17px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 20px;
    cursor: pointer;
}

    .manage-user-button:hover {
        box-shadow: 0 0 20px rgba(30, 58, 138, 0.5);
    }

        .manage-user-button:hover div:nth-child(2) p {
            font-weight: 500;
        }

    .manage-user-button div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 7px;
    }

        .manage-user-button div:first-child img {
            width: 25px;
        }

    .manage-user-button div:nth-child(2) p {
        color: white;
    }

.add-project-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E3A8A;
    border-radius: 17px;
    padding: 8px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 155px;
    cursor: pointer;
}

    .add-project-button:hover {
        box-shadow: 0 0 20px rgba(30, 58, 138, 0.5);
    }

        .add-project-button:hover div:nth-child(2) p {
            font-weight: 500;
        }

    .add-project-button div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 7px;
    }

        .add-project-button div:first-child img {
            width: 27px;
        }

    .add-project-button div:nth-child(2) p {
        color: white;
    }

.project-list-box {
    margin: auto;
    margin-top: 30px;
    width: 86%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.project-box {
    width: 360px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2.5px solid #1E3A8A;
    background-color: #1E3A8A;
    border-radius: 20px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

    .project-box:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.2);
    }

.project-info-box {
    width: 100%;
    flex: 0.25;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1E3A8A;
    color: white;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

    .project-info-box div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 8px;
    }

        .project-info-box div:first-child div:nth-child(2) {
            margin-left: 5px;
        }

    .project-info-box p:first-child {
        font-size: 20px;
    }

    .project-info-box p:nth-child(2) {
        margin-top: 4px;
        font-size: 14px;
    }


.project-options {
    margin-right: 20px;
}

.kebab-icon-dashboard {
    display: block;
    width: 6px;
    height: 6px;
    margin: 5px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
}

.project-description-box {
    flex: 0.75;
    width: 100%;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    background-color: #F6F3F3;
}

    .project-description-box p {
        font-size: 15px;
        font-weight: 500;
        margin: 20px 20px 20px 20px;
    }

/* Modals CSS */

.add-project-form-background {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(1.5px);
    background-color: rgb(128,128,128, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-project-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.add-project-form-title {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

    .add-project-form-title > p {
        font-size: 22px;
        font-weight: 500;
    }

.add-company-form-box {
    padding: 25px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-company-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-company-form-select-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.add-company-form-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

.dropdown-root {
    width: 100%;
}

.add-company-form-select > label:first-child {
    font-weight: 600;
    margin-bottom: 10px;
}

.add-company-form-select > select {
    width: 350px;
    height: 35px;
    font-size: 16px;
    padding-left: 4px;
    border: 1.5px solid #1E3A8A;
    border-radius: 5px;
}

    .add-company-form-select > select > option {
        font-size: 16px;
    }

.add-company-form-new-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

    .add-company-form-new-title > p:first-child {
        color: #979797;
        margin-bottom: 30px;
    }

.add-company-form-new-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

    .add-company-form-new-name > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .add-company-form-new-name > input {
        width: 350px;
        height: 35px;
        font-size: 16px;
        padding-left: 10px;
        border: 1.5px solid #1E3A8A;
        border-radius: 5px;
    }

.add-company-form-new-email {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

    .add-company-form-new-email > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .add-company-form-new-email > input {
        width: 350px;
        height: 35px;
        font-size: 16px;
        padding-left: 10px;
        border: 1.5px solid #1E3A8A;
        border-radius: 5px;
    }

.add-company-form-new-mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

    .add-company-form-new-mobile > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .add-company-form-new-mobile > input {
        width: 350px;
        height: 35px;
        font-size: 16px;
        padding-left: 10px;
        border: 1.5px solid #1E3A8A;
        border-radius: 5px;
    }

.add-company-form-box-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
}

    .add-company-form-box-buttons > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 6px 15px 6px 15px;
        background-color: #1E3A8A;
        border-radius: 15px;
    }

        .add-company-form-box-buttons > div:first-child > p {
            color: white;
            font-size: 16px;
        }

    .add-company-form-box-buttons > div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 6px 15px 6px 15px;
        background-color: #B11B1B;
        border-radius: 15px;
    }

        .add-company-form-box-buttons > div:nth-child(2) > p {
            color: white;
            font-size: 16px;
        }

.add-project-form-container {
    padding: 25px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-project-form-new-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 30px;
}

.add-project-form-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

    .add-project-form-name > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .add-project-form-name > input {
        width: 375px;
        height: 35px;
        font-size: 16px;
        padding-left: 10px;
        border: 1.5px solid #1E3A8A;
        border-radius: 5px;
    }

.add-project-form-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

    .add-project-form-description > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .add-project-form-description > textarea {
        resize: none;
        width: 375px;
        height: 260px;
        font-size: 16px;
        padding-left: 10px;
        padding-top: 10px;
        border: 1.5px solid #1E3A8A;
        border-radius: 5px;
    }

.add-project-form-box-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
}

    .add-project-form-box-buttons > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 6px 15px 6px 15px;
        background-color: #1E3A8A;
        border-radius: 15px;
    }

        .add-project-form-box-buttons > div:first-child > p {
            color: white;
            font-size: 16px;
        }

    .add-project-form-box-buttons > div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 6px 15px 6px 15px;
        background-color: #B11B1B;
        border-radius: 15px;
    }

        .add-project-form-box-buttons > div:nth-child(2) > p {
            color: white;
            font-size: 16px;
        }

.update-project-form-background {
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(1.5px);
    background-color: rgb(128,128,128, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-project-form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}

.update-project-form-title {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

    .update-project-form-title > p {
        font-size: 22px;
        font-weight: 500;
    }

.update-project-form-container {
    padding: 25px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.update-project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.update-project-form-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

    .update-project-form-name > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .update-project-form-name > input {
        width: 375px;
        height: 35px;
        font-size: 16px;
        padding-left: 10px;
        border: 1.5px solid #1E3A8A;
        border-radius: 5px;
    }

.update-company-form-select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
}

    .update-company-form-select > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

.update-project-form-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

    .update-project-form-description > label:first-child {
        font-weight: 600;
        margin-bottom: 10px;
    }

    .update-project-form-description > textarea {
        resize: none;
        width: 375px;
        height: 260px;
        font-size: 16px;
        padding-left: 10px;
        padding-top: 10px;
        border: 1.5px solid #1E3A8A;
        border-radius: 5px;
    }

.update-project-form-box-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin-top: 20px;
}

    .update-project-form-box-buttons > div:first-child {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 6px 15px 6px 15px;
        background-color: #1E3A8A;
        border-radius: 15px;
    }

        .update-project-form-box-buttons > div:first-child > p {
            color: white;
            font-size: 16px;
        }

    .update-project-form-box-buttons > div:nth-child(2) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        padding: 6px 15px 6px 15px;
        background-color: #B11B1B;
        border-radius: 15px;
    }

        .update-project-form-box-buttons > div:nth-child(2) > p {
            color: white;
            font-size: 16px;
        }
